<!DOCTYPE html>
<html>
<body>
<p><b>主題:discord機器人</b></p>
<p><small>撰寫機器人的語言為:<mark>Python</mark></small></p>
<p><small>機器人的內容有:<br>查看ping值
    <br>複誦訊息 <br>刪除多則訊息 <br>查看已刪除(編輯)的訊息 <br>隨機抽號碼組隊
<br>炸群  </small></p>
<p><b>功能用途:</b></p>
<p><small>
    刪除多則訊息:可以一次刪除多則訊息
    <br>查看已刪除(編輯)的訊息的主要用途為可以在他人刪除(編輯)訊息之後看到他所刪除(編輯)的訊息為何
    <br>隨機抽號碼組隊的用途為可以讓多個人想組隊時可以用這功能來分隊
    <br>炸群:單純搞人用
</small></p>
</body>
</html>
